* {
    margin: 0;
    padding: 0;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: lavender;
    padding: 2rem;
}


.wrapper {
    display: flex;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}
